{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_list %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='users' %}">{% translate 'Users' %}</a>
    &rsaquo; <a href="{% url 'admin:users_useraccount_changelist' %}">{% translate 'User Accounts' %}</a>
    &rsaquo; <a href="{% url 'admin:users_useraccount_change' original.pk %}">{{ original }}</a>
    &rsaquo; {% translate 'Reset Password' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form action="" method="post">{% csrf_token %}
        <div class="module">
            <p>{% translate "Are you sure you want to reset the password for user" %} "<strong>{{ original.username }} ({{ original.email }})</strong>"?</p>
            <p>{% translate "A new temporary password will be generated and displayed to you." %}</p>
            <p class="errornote">{% translate "This action cannot be undone." %}</p>
        </div>
        <div class="submit-row">
            <input type="submit" value="{% translate 'Reset Password' %}" class="default" name="_reset_password">
            <a href="{% url 'admin:users_useraccount_change' original.pk %}" class="button cancel-link">{% translate 'Cancel' %}</a>
        </div>
    </form>
</div>
{% endblock %}
